# compiled binaries
bin

# direnv
.envrc.local

# terraform
.terraform
.terraform-version
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup

# miscellaneous
.DS_Store
