version: '2.1'

orgs:
  terraform: circleci/terraform@1.2.0

executors:
  main:
    working_directory: ~/project/
    docker:
      - image: cimg/base:2021.03

jobs:
  test:
    executor: main
    steps:
      - checkout
      - terraform/install:
        terraform_version: 0.13.5
      - run:
          name: "Download and install terraform-docs"
          command: |
            set -euo pipefail
            cd ~
            mkdir -p ~/bin
            curl -sSLO https://github.com/segmentio/terraform-docs/releases/download/v${TERRAFORM_DOCS_VERSION}/terraform-docs-v${TERRAFORM_DOCS_VERSION}-linux-amd64
            [ $(sha256sum terraform-docs-v${TERRAFORM_DOCS_VERSION}-linux-amd64 | cut -f1 -d' ') = ${TERRAFORM_DOCS_SHA256SUM} ]
            chmod 755 terraform-docs-v${TERRAFORM_DOCS_VERSION}-linux-amd64
            mv terraform-docs-v${TERRAFORM_DOCS_VERSION}-linux-amd64 ~/bin/terraform-docs
          environment:
            TERRAFORM_DOCS_VERSION: "0.11.2"
            TERRAFORM_DOCS_SHA256SUM: "0d1e42d6fcb15b14027ae8efb794edb1cd7faa7a32507ccad449340529d04937"
      - run: echo 'export PATH=~/bin:$PATH' >> $BASH_ENV
      - run: scripts/update-docs
      - run: scripts/format-files
      - run: git diff --exit-code

workflows:
  version: 2
  main:
    jobs:
      - test
